# This file is a "template" of which env vars needs to be defined in your configuration or in an .env file
# Set variables here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

# The following are an example for a development configuration.
# For production, use:
# APP_ENV="prod"
# APP_DEBUG=0
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=774185ebf1c8d9ce0a8343eb2c4c3730

# Solr configuration
SOLR_CORE=k-search
SOLR_HOST=127.0.0.1

# K-Link Registry integration
KLINK_REGISTRY_ENABLED=0
KLINK_REGISTRY_API_URL=""

# K-Link Search configuration
KLINK_RETAIN_DOWNLOADED_FILES=0
