/.vagrant/
/public/swagger.json
docker-compose.yml

###> symfony/framework-bundle ###
.env
/var/
/vendor/
/public/bundles/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
/phpunit.xml
###< symfony/phpunit-bridge ###

###> friendsofphp/php-cs-fixer ###
.php_cs
.php_cs.cache
###< friendsofphp/php-cs-fixer ###
