[submodule "virtualization/drifter"]
	path = virtualization/drifter
	url = https://github.com/liip/drifter.git
[submodule "solr"]
	path = solr
	url = git@git.klink.asia:main/k-search-engine-conf.git
	branch = solr-5