<?php


$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->exclude('app')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        'linebreak_after_opening_tag' => true,
        'no_empty_comment' => true,
        'no_useless_return' => true,
        'ordered_imports' => true,
        'phpdoc_order' => true,
        'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder)
;
