version: '2'

networks:
  internal:

services:
  ksearch:
    build: .
    ports:
      - 80:80
    environment:
      - APP_ENV=dev
      - APP_DEBUG=1
    depends_on:
      - solrglobalsearch
    networks:
      - internal

  solrglobalsearch:
    image: "docker.klink.asia/images/solr:5.5.4"
    command: /opt/solr/klinkSolr-globalsearch.sh start-foreground
    volumes:
      - "/opt/solr/solr-cloud/klink-public/data"    # dynamic volume
      - "/opt/solr/solr-private/klink-private/data" # dynamic volume
    expose:
      - "8983"
    environment:
      KLINK_SOLR_MYHOST: solrglobalsearch # this is the external address of solr
    hostname: solrglobalsearch
    networks:
      - internal


