version: '2'

networks:
  internal:

services:
  ksearch:
    build: .
    ports:
      - 8080:80
    environment:
      ## Further details about ENV configurations are available in `.env.dist`
      # Application settings
      - APP_ENV=prod # The running environment (prod|dev)
      - APP_DEBUG=0 # Enable or disable the debug feature
      # Solr search configuration
      - SOLR_HOST=engine # this is the external address of Solr
      - SOLR_CORE=k-search # this is the Solr index name
      # Registry configuration (disabled)
      - KLINK_REGISTRY_ENABLED=0
      # The K-Registry API endpoint, leave empty if disabled
      # - KLINK_REGISTRY_API_URL=
      # The Queue transportation system configuration
      # "MESSENGER_TRANSPORT_DSN='filesystem:///%kernel.project_dir%/var/queue?compress=true&loop_sleep=1000000'"
      # The database location
      # - "DATABASE_URL='sqlite:///%kernel.project_dir%/var/data.db'"
    depends_on:
      - engine
    networks:
      - internal

  engine:
    image: "docker.klink.asia/images/k-search-engine:0.4.1"
    volumes:
      - "/opt/solr/k-search/k-search/data"    # dynamic volume
    expose:
      - "8983"
    environment:
      KLINK_SOLR_MYHOST: engine # this is the external address of solr
    networks:
      - internal

