<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="false"
         failOnWarning="false"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="KERNEL_DIR" value="src/" />
        <server name="KERNEL_CLASS" value="App\Kernel" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="APP_SECRET" value="3fedfadabf0a9e8a86da6b989727f6f3"/>
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ nelmio/solarium-bundle ### -->
        <env name="SOLRCORE_HOST" value="localhost"/>
        <env name="SOLRCORE_NAME" value="ksearch"/>
        <!-- ###- nelmio/solarium-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="K-Search API test suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
